<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Nav Bar -->
    <nav>
        <ul>
            <li><a> href="/">Home<</a></li>
            <li><a> href="/jobs">Jobs<</a></li>
        </ul>
    </nav>
        <!-- Content -->
<main>{% block content %}{% endblock %}</main>

<footer>
    <p>&copy; 2025 Job Tracker. All rights reserved.</p>
</footer>

</body>
</html>
