<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Track your job applications and search for computer science jobs in one place.">
    <meta name="keywords" content="job tracker, computer science jobs, job applications">

    <title>Job Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Header -->
    <header><h1> Job Tracker </h1></header>
    <!-- Nav Bar -->
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item"><a href="/jobs">Jobs</a></li>
            <li class="nav-item"><a href="/resume">Resume</a></li>
            <li class="nav-item"><a href="/login">Login</a></li>
            <li class="nav-item"><a href="/registration">Register</a></li>
            <li class="nav-item"><a href="/profile">Profile</a></li>
        </ul>
    </nav>
        <!-- Content -->
<main>{% block content %}{% endblock %}</main>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<footer>
    <p>&copy; 2025 Job Tracker. All rights reserved.</p>
</footer>

</body>
</html>