{% extends "base.html" %}
{% block content %}
    {% if not current_user.is_authenticated %}
    <body>
    <h1>Hello! Let's help you with all your Job Searching Needs! </h1>
    <p>First lets get you started!<b> <a href="/login">Login Here! </a></b></p>
    </body>
    {% endif %}
    {% if current_user.is_authenticated %}
    <body>
        <h2>Hello {{current_user.username}}! Here Is Your Job Results so Far!</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Company</th>
            <th>Status</th>
        </tr>
    </thead>
        {% for job in jobs %}
    <tr>
        <td>{{ job.id }}</td>
        <td>{{ job.title }}</td>
        <td>{{ job.company }}</td>
        <td>{{ job.status }}</td>
    </tr>
    {% endfor %}
</table>
    </body>
    {% endif %}
{% endblock %}
