{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{current_user.username}}</h1>
    {% if resume %}
        <h2> - Your Resume -</h2>
        <p>
            <embed src="{{ resume.filepath }}" type="application/pdf" frameborder="0" width="100%" height="600px">
        </p>
        <p>{{ resume.content }}
        <a href="/edit_resume"><br>Edit Resume</a>
        <a href="/delete_resume"><br>Delete</a>
        </p>
    {% endif %}
    {% if not resume %}
        <p>No resume found. <a href="/edit_resume">Add one!</a></p>
    {% endif %}
    <br>
{% endblock %}
